.search-form {
    margin-right: 20px;
    padding: auto;
    box-shadow: 5px 5px 3px #999999;
    background-color: #FFFFFF;
}

.shop {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.shop-card {
    width: 20%;
    margin: 50px;
    border-radius: 10px;
}

.shop-card__image {
    text-align: center;
}

.shop-card__image img {
    width: 100%;
    height: auto;
}

.shop-card__contents {
    padding: 20px;
    background-color: #FFFFFF;
}

h6 {
    display: block;
}

.detail-button__link {
    display: block;
    width: 50px;
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 5px;
    background-color: #3560F6;
    color: #FFFFFF;
    transition: 0.5s;
}

.favorite-button {
    color: #AAAAAA;
}